SUPABASE_URL= "https://enlpdtifujuvlsajqluc.supabase.co/rest/v1/""
SUPABASE_SERVICE_ROLE_KEY= "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVubHBkdGlmdWp1dmxzYWpxbHVjIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc5MTUyODA5MSwiZXhwIjoyMTA3MTA0MDkxfQ.jVwS3_uT8kSe4xJyuSRLi1ewxCqR_5rt2mzngxvNjdc"
JWT_SECRET= "ff3e36c238b316a44c568fcdeb1efcfe8e5d0723d0817646e202df371af7b9b9"
ADMIN_USERNAME="admin"
ADMIN_PASSWORD="supersecretpassword123"
